
<IfModule mod_php7.c>
    php_flag zlib.output_compression Off
</IfModule>
<IfModule mod_php8.c>
    php_flag zlib.output_compression Off
</IfModule>

AddType application/pdf .pdf
AddType application/octet-stream .pdf


Header unset Content-Encoding
SetEnv no-gzip 1
<IfModule mod_rewrite.c>
    RewriteEngine On


    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

   
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"

  ExpiresByType application/xml "access plus 0 seconds"
</IfModule>

<IfModule mod_headers.c>
  <Files "sitemap.xml">
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires 0
  </Files>
</IfModule>

<IfModule mod_mime.c>
  AddType application/xml .xml
</IfModule>

<FilesMatch "\.(pdf)$">
    ForceType application/pdf
    Header set Content-Disposition inline
</FilesMatch>


FileETag None
Header unset ETag
Header unset Last-Modified